@import "compass/css3";

#facebox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: left;
    
    .popup{
        position: relative;
        border: 3px solid rgba(0,0,0,0);
        @include border-radius(5px);
        @include box-shadow(rgba(0,0,0,0.4) 0 0 18px);
    }
    
    .content {
        display:table;
        width:370px;
        padding:10px;
        background:#fff;
        @include border-radius(4px);
        
        & > p:first-child {
            margin-top:0;
        }
        
        & > p:last-child{
            margin-bottom:0;
        }
    }
    
    .close{
        position: absolute;
        top: 5px;
        right: 5px;
        padding: 2px;
        background: #fff;
        
        img {
            @include opacity(0.3);
        }
        
        &:hover img{
            @include opacity(1.0);
        }
    }
    
    .loading, .image {
        text-align: center;
    }
    
    img {
        border: 0;
        margin: 0;
    }
    
}

#facebox_overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.facebox_hide {
    z-index:-100;
}

.facebox_overlayBG {
    background-color: #000;
    z-index: 99;
}
